<!doctype html>
<html lang="en">
<head>
	<title>Fusion How To</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
 	 <%= csrf_meta_tags %>
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

	<header>
		<h1>Learn Share Fusion 360</h1>
	</header>
	<nav>
		<ul>
			<li class="selected"><a href="#">Home</a></li>
			<li><a href="#">Commands</a></li>
			<li><a href="#">Models</a></li>
			<li><a href="#">Support</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</nav>
	<section id="intro">
		<header>
			<h2>Fusion 360 HowTos</h2>
		</header>
		<p>This website is meant to learn Fusion using differnt tutorials.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
	</section>
	<div id="content">
		<%= yield %>
	</div>
		
		<aside>						
			<section>
				<header>
					<h3>Connect With Us</h3>
				</header>
				<ul>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Google Plus</a></li>
				</ul>
			</section>

			<section>
				<header>
					<h3>Recent Articles</h3>
				</header>
					<ul>
						<li><a href="#">Whats new in Jan Release</a></li>
						<li><a href="#">Fusion in Education</a></li>
					</ul>
			</section>
			
		</aside>

	<footer>
		<br />
		<p>&copy; 2010 <a href="#" title="your site name">yoursite.com</a></p>
	</footer>
<!-- Free template created by http://freehtml5templates.com -->
</body>
</html>